<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        show odd
      </button>

      <br /><br />
      <ul class="list-group">
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let item of onlyOddNum"
            [ngClass]="{ pa: item % 2 !== 0 }"
          >
            <p>{{ item }}</p>
          </li>
        </div>
        <div *appUnless="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let item of onlyEvenNum"
            [ngStyle]="{
              backgroundColor: item % 2 == 0 ? 'yellow' : 'transparent'
            }"
          >
            <p>{{ item }}</p>
          </li>
        </div>
      </ul>
      <p appBasicHighLight>style my with directive</p>
      <p
        appBetterHighlight
        [defaultColor]="'transparent'"
        [highlightColor]="'yellow'"
      >
        style my with better directive
      </p>
    </div>
  </div>
</div>

<button class="btn btn-success" (click)="showStatus = !showStatus">
  change status
</button>
<p *ngIf="showStatus">aaaaaaaaaaaaaa</p>
<ng-template [ngIf]="!showStatus">
  <p>display the item</p>
</ng-template>

<div [ngSwitch]="value">
  <p *ngSwitchCase="5">5</p>
  <p *ngSwitchCase="10">10</p>
  <p *ngSwitchDefault>sadasaaacddasd</p>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-new-account></app-new-account>
      <hr />
      <app-account
        *ngFor="let acc of accounts; let i = index"
        [account]="acc"
        [id]="i"
        (statusChanged)="onStatusChanged($event)"
      ></app-account>
    </div>
  </div>
</div>
